/*######## Smart Green ########*/
.smart-green {
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.message-box {
    display: none;
    position: absolute;
    left: 560px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 300px;
    background: #e9e9e9;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #E74C3C;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    z-index: 10;
}

.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #0078D7;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #89AF4C;
    position: relative;
}

.message-box h3 {
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 8px 0px 16px 17px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #004578;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #89AF4C;
    position: relative;
}

.smart-green h1 > span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}

    .smart-green label > span {
        float: left;
        margin-top: 10px;
        color: #0078D7;
    }

.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height: 15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-green textarea {
    height: 100px;
    padding-top: 10px;
}

.smart-green select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 30px;
}

.smart-green .button {
    background-color: #0078D7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}

.message-box .button1 {
    background-color: #004578;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    margin-left: 100px;
    margin-top: 20px;
}

/*.smart-green .button:hover {
            background-color: #004578;
        }*/

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 760px;
    top: 50px;
    background-color: #E9E9E9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}


.message-body {
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ff0000;
    z-index: 10;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: rgba(0,0,0,0.2);
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.change-text-form {
    display: none;
    position: absolute;
    left: 550px;
    top: 50px;
    background-color: #E9E9E9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.change-color-form {
    display: none;
    position: absolute;
    left: 820px;
    top: 30px;
    background-color: #E9E9E9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    margin-top: 0px;
    width: 200px;
}

.change-text-form span {
    margin-top: 10px;
    color: #0078D7;
}




div:empty {
    width: 3px;
    height: 5px;
    display: inline-block;
    padding: 15px 16px;
    margin-right: -4px;
    margin-left: 4px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.color1 {
    background: #1ABC9C;
}

.color2 {
    background: #2ECC71;
}

.color3 {
    background: #3498DB;
}

.color4 {
    background: #9B59B6;
}

.color5 {
    background: #34495E;
}

.setting-style {
    display: block;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    right:0;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.close-image-div {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 33px;
    right: 36px;
}
   


.image-class
{
    width:20px;
    height:20px;

}

.close-image-class {
    width: 50px;
    height: 50px;
}


.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 25px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 9px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 6px;
}

    .slider.round:before {
        border-radius: 27%;
    }

.feature-flag-style {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 155px;
    background: #F8F8F8;
    padding: 30px 55px 0px 30px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*left: 1200px;
    top: 20px;*/
    right:12px;
    top:20px;
}

.lable-header-form {
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.lable-form {
    font: normal 14px/14px Arial, Helvetica, sans-serif;

}









